%table.central_table
  = form_for @pd_article, :html => { :multipart => true } do |f|
    %tr
      %td Name
      %td= f.text_field :title
    %tr
      %td Description
      %td= f.cktext_area :description, :class=>"medium_text_area"
    %tr
      %td Video
      %td= f.file_field :video
    %tr
      %td{:colspan=>2}= f.submit "Save", :class=>"button"