%h3 Add new study material
%table.central_table
  = form_for @study_material, :html => { :multipart => true } do |f|
    %tr
      %td Name
      %td= f.text_field :name
    %tr
      %td Topic
      %td
        = f.collection_select :topic_id, @topics, :id, :name
        = link_to "Add topic", new_topic_path, :class=> "button"
    %tr
      %td Description
      %td= f.text_area :description, :class=>"medium_text_area"
    %tr
      %td Rating
      %td= f.select :rating, options_for_select([[1,1],[2,2],[3,3],[4,4],[5,5]])
    %tr
      %td Content
      %td= f.file_field :data
    %tr
      %td{:colspan=>2}= f.submit "Save", :class=>"button"