%table.central_table{style:"width:80%;height:400px"}
  %tr
    %td
      = link_to image_tag("dreamjob.jpg", style: "height:200px;width:200px;border:1px solid black"), dream_job_student_index_path
      %h3 Dream Job
    %td
      = link_to image_tag("news.gif", style: "height:200px;width:200px;border:1px solid black"), news_student_index_path
      %h3 Campus news
    %td
      = link_to image_tag("account.png", style: "height:200px;width:200px"), account_users_path
      %h3 My profile
  %tr
    %td
      = link_to image_tag("tests.jpg", style: "height:200px;width:200px;border:1px solid black"), test_student_index_path
      %h3 My tests
    %td
      = link_to image_tag("query.jpg", style: "height:200px;width:200px;border:1px solid black"), expert_consultancy_users_path
      %h3 My queries
    %td
      = link_to image_tag("downloads.png", style: "height:200px;width:200px"), downloads_student_index_path
      %h3 My download