%h3 Our Team
%table.central_table
  %tr
    %td= image_tag "profile1.jpg", width: 300, height: 300
    %td= image_tag "profile2.jpg", width: 300, height: 300
    %td= image_tag "profile3.png", width: 300, height: 300
  %tr
    %td
      %h3 Kuntal
    %td
      %h3 Thomas Cunningham
    %td
      %h3 Prashant
  %tr
    %td= image_tag "anonymity.jpg", width: 300, height: 300
    %td= image_tag "profile5.jpg", width: 300, height: 300
    %td= image_tag "anonymity.jpg", width: 300, height: 300
  %tr
    %td
      %h3 May be you
    %td
      %h3 Binit
    %td
      %h3 May be you
  %tr
    %td= image_tag "profile6.jpg", width: 300, height: 300
    %td= image_tag "profile7.jpg", width: 300, height: 300
    %td= image_tag "anonymity.jpg", width: 300, height: 300
  %tr
    %td
      %h3 Nikhil
    %td
      %h3 Sehhal
    %td
      %h3 May be you
