<table style="margin: 0 auto;padding: 3px 3px 3px 3px;">
  <tr><td colspan="2"><h3 class='black_text'>Sign in</h3></td></tr>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <tr>
    <td><%= f.label :email, :class=>"black_text" %></td>
    <td><%= f.email_field :email, :autofocus => true %></td>
  </tr>

  <tr>
    <td><%= f.label :password, :class=>'black_text' %></td>
    <td><%= f.password_field :password %></td>
  </tr>

  <% if devise_mapping.rememberable? -%>
    <tr><td colspan="2"><%= f.check_box :remember_me %> <%= f.label :remember_me, :class=>'black_text' %></td></tr>
  <% end -%>

  <tr><td colspan="2"><%= f.submit "Sign in", class: 'button' %></td></tr>
<% end %>

  <tr><td colspan="2"><%= render "devise/shared/links" %></td></tr>
</table>