!!!
%html
  %head
    %title Sakura - Campus dreams
    %link{:rel=>"shortcut icon", :href=>"/assets/favicon.ico" }/
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %meta{:content => "Campus dreams program for engineering student to make them industry ready", :name => "description"}/
    %meta{:content => "Campus dreams, test papers, campusing study materials, personality development sessions, campusing mock tests", :name => "keywords"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "/assets/jquery.min.js"}
    %script{:src => "/assets/jquery.dropotron.js"}
    %script{:src => "/assets/config.js"}
    %script{:src => "/assets/skel.min.js"}
    %script{:src => "/assets/skel-panels.min.js"}
    = javascript_include_tag 'turbolinks'
    %noscript
      %link{:href => "/assets/skel-noscript.css", :rel => "stylesheet"}/
      %link{:href => "/assets/style.css", :rel => "stylesheet"}/
      %link{:href => "/assets/style-desktop.css", :rel => "stylesheet"}/
    /[if lte IE 9] <link rel="stylesheet" href="/assets/ie9.css" />
    /[if lte IE 8] <script src="/assets/html5shiv.js"></script><link rel="stylesheet" href="/assets/ie8.css" />
    /[if lte IE 7] <link rel="stylesheet" href="/assets/ie7.css" />
  %body.homepage
    / Header Wrapper
    #header-wrapper
      .container
        .row
          .12u
            / Header
            %header#header
              .inner
                / Logo
                %h1
                  %a#logo{:href => "#"} Campus dreams
                / Nav
                %nav#nav
                  %ul
                    %li.current_page_item
                      %a{:href => "/"} Home
                    %li
                      %span Campusing Materials
                      %ul
                        %li= link_to "Study materials", "/student/study_material"
                        %li= link_to "Mock tests", "/student/mock_tests"
                        %li= link_to "PD Articles", "/student/pd_articles"
                        %li= link_to "Expert consultancy", "/users/expert_consultancy"
                    %li= link_to "Campus news", news_student_index_path
                    %li= link_to "About us", about_us_path
                    %li
                      - if current_user
                        %a{:href => "/users/sign_out"} Sign out
                      - else
                        %a{:href => "/users/sign_in"} Sign up/Sign in
            / Banner
            #banner
              %h2
                %strong Campus Dreams:
                A bridge to connect students with
                %br/
                their dream companies
              %p Do you need any guidance from our career experts ?
              %a.button.button-big.button-icon.button-icon-check{:href => query_users_path} Yes I do
    / Main Wrapper
    #main-wrapper
      .main-wrapper-style1
        .inner
          / Feature 1
          %section.container.box-feature1
            .row
              .12u
                %header.first.major
                  %h2{:style=>"color:black"} Companies are waiting to hire you
                  %span.byline
                    are you ready to be a part of these
                    %strong Giants
                    \...
            .row
              .4u
                %section
                  %span.image
                    %img{:alt => "", :src => "/assets/1.jpg", :style => "width:30%;height:30%;margin: 0 auto"}/
              .4u
                %section
                  %span.image.image-full
                    %img{:alt => "", :src => "/assets/2.jpg", :style => "width:30%;height:30%;margin: 0 auto"}/
              .4u
                %section
                  %span.image.image-full
                    %img{:alt => "", :src => "/assets/3.jpg", :style => "width:30%;height:30%;margin: 0 auto"}/
            .row
              .4u
                %section
                  %span.image.image-full
                    %img{:alt => "", :src => "/assets/4.jpg", :style => "width:30%;height:30%;margin: 0 auto"}/
              .4u
                %section
                  %span.image.image-full
                    %img{:alt => "", :src => "/assets/5.jpg", :style => "width:30%;height:30%;margin: 0 auto"}/
              .4u
                %section
                  %span.image.image-full
                    %img{:alt => "", :src => "/assets/6.jpg", :style => "width:30%;height:30%;margin: 0 auto"}/
            .row
              .4u
                %section
                  %span.image.image-full
                    %img{:alt => "", :src => "/assets/7.jpg", :style => "width:30%;height:30%;margin: 0 auto"}/
              .4u
                %section
                  %span.image.image-full
                    %img{:alt => "", :src => "/assets/8.jpg", :style => "width:30%;height:30%;margin: 0 auto"}/
              .4u
                %section
                  %span.image.image-full
                    %img{:alt => "", :src => "/assets/9.jpg", :style => "width:30%;height:30%;margin: 0 auto"}/
    / Footer Wrapper
    #footer-wrapper
      %footer#footer.container
        .row
          .12u
            / Contact
            %section
              %h2 Get in touch
              %div
                .row
                  .6u
                    %dl.contact
                      /
                        dt>Twitter</dt>
                        <dd><a href="http://twitter.com/n33co">@n33co</a></dd
                      %dt Facebook
                      %dd
                        %div{:class=>"fb-like", "data-href"=>"http://developers.facebook.com/docs/reference/plugins/like", "data-width"=>"450", "data-show-faces"=>true, "data-send"=>"true"}
                      %dt Email
                      %dd
                        %a{:href => "mailto:admin@sakurasolutions.in"} admin@sakurasolutions.in
                  .6u
                    %dl.contact
                      %dt Address
                      %dd
                        G2, Sriven Residency
                        %br/
                        Kakaguda, Karkhana
                        %br/
                        Secunderabad, AP: 500015
                      %dt Phone
                      %dd (+91) 944-129-6505
                      %dd (+91) 943-206-1651
        .row
          %div= link_to "Terms and conditions", terms_path
          %div= link_to "Privacy policy", privacy_policy_path
        .row
          .12u
            #copyright
              \&copy;
              %a{:href => "http://www.sakurasolutions.in/"} Sakura
              All rights reserved.
<div id="fb-root"></div>
